@import "src/common/style/sass/variables";
@import "src/common/style/sass/mixins";


.Container{
  @include flex(row, center, end, wrap);
  position: fixed;

  right: 95px;
  bottom: 20px;
z-index: 12345678;
  width: 300px;
  border-radius: 14px;
  background-color: #6EEC4E;
  padding: 10px 10px 10px 40px;
  .bth{
    @include flex(row, center, start, wrap);
    @include btnDeleteStyle();
    position: relative;

    .header{
      color:white;
      @include text(18px,800);
    }
    .text{
      color:white;
      @include text(10px,400);
    }
    &:before{
      content: '';
      position: absolute;
      width: 30px;
      height: 30px;
      border-radius: 50%;
      top: 6px;
      left: -27px;
      background-color: #D9D9D9;
    }
  }

}