@import "../../../../common/style/sass/variables";
@import "../../../../common/style/sass/mixins";

.reviews{
  @include flex(column, center,center, wrap);
  @include container();
  margin-top: 100px;
  .rev{
    @include text(28px,800)
  }
  .desc{
    @include text(24px,600)
  }

}
.descRadio{
  @include text(24px,600)
}
.changeReview{
  @include flex(row, center,center, wrap);

  .change{
    padding: 0;

    position: relative;
    cursor: pointer;
    margin:10px;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background-color: #d5d5d5;
    z-index: 1;
    border: none;
  }
  .active{
    width: 21px;
    height: 21px;

    border: 3px solid $activeColor;
    border-radius: 50%;
  }

}