@import "../../../common/style/sass/variables";
@import "../../../common/style/sass/mixins";
@import "../../../common/components/title/Title.module";


.casesContainer {
  @include maxWidth();
  @include container();
  margin-bottom: 50px;

  .title {
    @include text(36px,800);
    margin-bottom: 60px;
  }

  .casesInfoContainer {
    @include flex(row, flex-start, center, wrap);
    box-shadow: 0 4px 20px 10px rgba(0, 0, 0, 0.25);
    border-radius: 24px;
    padding: 36px;
    margin-bottom: 140px;

    ul {
      width: 50%;
      @media (max-width: 800px) {
        width: 100%;
      }

      .aboutCompany {
        margin-bottom: 20px;

      }

      li {

        list-style-type: none;
        padding-left: 20px;


        img {
          max-width: 300px;
          max-height: 100px;
        }

      }
    }
  }

  .taskWebContainer {
    width: 90%;
    margin: 0 auto;
    margin-bottom: 50px;

    .titleTask {
      text-align: center;
      text-transform: uppercase;
      padding: 10px 0;
      background-color: $activeColor;
      border-radius: 6px 6px 0 0;
      @include text(20px, 800);
      color: $secondTextColor;

    }

    .wrapperCurrentDesc {
      box-shadow: 0 4px 20px 10px rgba(0, 0, 0, 0.25);

      border-radius: 0 0 6px 6px;
      padding: 10px;

      .taskWebDataContainer {

        .name {
          width: 50%;
          border: solid #e6e6e6;
          border-width: 0 1px 1px 0;
          border-collapse: collapse;
          padding: 10px;
        }

        .value {
          border: solid #e6e6e6;
          border-width: 0 0 1px 0;
          border-collapse: collapse;
          padding: 10px;
        }

      }
    }
  }

  .descriptionContainer {
    .imgContainer {
      display: flex;
      justify-content: center;

      img {
        width: 100%; /* Ширина изображений */
        height: 100%; /* Высота изображении */
        object-fit: cover; /* Вписываем фотографию в область */
      }
    }
  }

  .workContainer {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 50px;
    margin-bottom: 50px;
  }


  .simularHeader {
    text-align: center;
    width: 100%;
    @include text(24px, 800);
    margin: 50px 0;

  }

  .simularCaseContainer {
    @include flex(row, center, center, wrap);
    gap: 50px;

    .simularCase {
      border-radius: 27px;
      border: 2px solid $activeColor;

      width: 250px;
      height: 250px;
      cursor: pointer;
      transition: 0.3s;
      &:hover{
        transform: scale(1.05);
      }

    }
  }
}
