@import "../../../common/style/sass/variables";
@import "../../../common/style/sass/mixins";

.wrap {
  background-color: #e9fce5;

  .container {
    @include maxWidth();
    padding: 60px 0 100px 0;
    @include container();
    @include flex(column, center, center, wrap);

    .header {
      width: 100%;
    }

    .wrapContent {
      @include flex(row, center, center, wrap);

      .contentContainer {
        @include flex(column, start, space-between, wrap);
        gap: 30px;
        width: 50%;
        @media (max-width: 850px) {
          width: 100%;
        }
        .itemContainer {

          border-radius: 15px;
          padding: 20px;
          background-color: #FFFFFF;

          .itemHeader {
            @include text(20px,800);
padding: 10px 0;
          }

          .itemDesc {

          }
        }
      }
      .imgContainer{
        width: 50%;
        @media (max-width: 850px) {
        width: 100%;
          margin-top: 30px;
      }

        @include flex(column, center, start, wrap);
      }
    }

  }
}
