@import "../../../../common/style/sass/variables";
@import "../../../../common/style/sass/mixins";
.container {
  @include flex(column, center, space-around, wrap);
  width: 100%;
  min-width: 100px;
  max-width: 200px;
  min-height: 100px;
  padding: 30px;
  margin: 15px;
  border-radius: 17px;
gap:30px;
  background-color:#f7f7f7 ;
  .img{
    min-width: 100px;
    max-width: 200px;
    min-height: 100px;
  }
}