@import "../../common/style/sass/variables";
@import "../../common/style/sass/mixins";
.container{
  @include maxWidth();
  @include flex(row, flex-start  , flex-start, wrap);
  @include container();
  margin-top: 84px;
  .content{
    width: 80%;
    @media (max-width: 1100px) {
      width: 100%;
    }
  }
  .sidebar{
    width: 20%;
    @media (max-width: 1100px) {
     display: none;
    }
  }

}
