@import "../../../../common/style/sass/variables";
@import "../../../../common/style/sass/mixins";

.wrap {
  background-color: $bgColor;

  .decsContainer {
    @include flex(column, center, center, wrap);
    @include container();

    margin: 0 auto;
    padding: 40px 0;
    text-align: center;
    font-size: 30px;
    .headerText{
      text-align: center;
      width: 100%;
    }
    .textDesc {

      color: $activeColor;
    }

    .buttonDesc {
      cursor: pointer;
      margin-top: 20px;
      background-color: $activeColor;
      border-radius: 26px;
      font-size: 24px;
      color: #fff;
      border: 1px solid $activeColor;
      padding: 15px 30px;
      font-weight: 400;
      transition: 0.7s;

      &:hover,
      &:active {
        transition: 0.7s;
        background-color: white;
        color: $activeColor;
      }
    }
  }
}
