@import "../../../../common/style/sass/variables";
@import "../../../../common/style/sass/mixins";


.decsContainer {
  @include flex(column, center, center, wrap);
  background-color: $bgColor;

  margin: 0;
  padding: 40px 0;

  font-size: 30px;
  .textDesc {

    color: $activeColor;
  }

  .buttonDesc {
    cursor: pointer;
    margin-top: 20px;
    background-color: $activeColor;
    border-radius: 26px;
    font-size: 30px;
    color: #fff;
    border: 1px solid $activeColor;
    padding: 15px 30px;
    font-weight: 800;
    transition: 0.7s;
    &:hover,
    &:active{
      transition: 0.7s;
    background-color: white;
      color:$activeColor;
  }
  }
}
