@import "../../../../common/style/sass/variables";
@import "../../../../common/style/sass/mixins";


.container {
  flex: 0 0 30%;
  max-width: 30%;
  cursor: pointer;
  @media (max-width: 1100px) {
    flex: 0 0 45%;
    max-width: 45%;
  }
  @media (max-width: 800px) {
    flex: 0 0 100%;
    max-width: 100%;
  }
  &:last-child{
    flex: 0 0 60%;
    max-width: 60%;
    @media (max-width: 1100px) {
      flex: 0 0 100%;
      max-width: 100%;
  }
  }

  .imgWrap {
    display: inline-block;
    overflow: hidden;
    border-radius: 10px;

    .imgContainer {
      border-radius: 14px;
      overflow: hidden;
      text-align: center;
      width: 100%;

      .img {
        height: 300px;
        object-fit: cover;
        width: 100%;
      }

      &:hover {
        transition: 0.6s;
        scale: 1.2
      }
    }

  }

  .title {
    margin-top: 10px;
    @include text(16px, 800);
    color: white;
    text-align: start;
  }

  .desc {
    @include text($fontSize, 800);
    color: $activeColor;
    text-align: start;
  }

}



