@import "../../../common/style/sass/variables";
@import "../../../common/style/sass/mixins";

.container {
  @include maxWidth();
  @include flex(row, center, space-between, nowrap);
  @include container();
  min-height: 25vh;

  padding-top: 100px;
  gap: 50px;
  @media (max-width: 800px) {
    flex-wrap: wrap;
    justify-content: center;
  }
  .headConteainer{
  .h1 {
    flex: 0 0 50%;

    @media (max-width: 800px) {
      width: 100%;
      text-align: center;
      margin-bottom: 0;
    }
    //margin-top: 30px;

    //margin-left: 80px;

    @include text(36px, 900);
    @media (max-width: 800px) {
      margin-left: 0;

      font-size: 30px;
    }


    }
  .text {
    color: $activeColor;
  }

  .paragrah {
    @include text($fontSize, 400)
  }

  .button {

    cursor: pointer;
    position: relative;
    background-color: $activeColor;
    border-radius: 8px;
    border: 1px solid $activeColor;
    width: 278px;
    padding: 12px 19px;
    color: #ffffff;
    @include text($fontSize, 700);
    transition: all 0.5s;
    &:hover,
    &:active {
      background-color: white;
      color: $activeColor;
    }
  }

    .containerModal {
      transform: translate(0, 0);
      @include flex(row, center, center, wrap);
      position: fixed;
      height: 100vh;
      width: 100vw;
      border: none;
      left: 0;
      top: 0;
      z-index: 234567890;
      transition: all 1.5s;

      &::before {
        content: '';
        position: absolute;
        background: black;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        z-index: 1;
        opacity: 0.8;
        border-radius: 17px;
        transition: all 0.3s;
      }

      .formContainer {
        transition: all 1.5s;
        @include flex(row, center, flex-start, wrap);
        position: absolute;
        z-index: 12345678;
        height: 100%;
        width:100%;
        max-width: 500px;
        -webkit-transition: left 0.3s;
        -moz-transition: left 0.3s;

        left: 0;
        top: 0;
        min-width: 360px;
        background-color: white;
      }
    }
    .noModal{
        overflow: hidden;
        transform: translate( -10000px,0);
        transition: 0.3s;
        z-index: 2345678902;

    }
  }

  .animation {

    flex: 0 0 50%;

    @media (max-width: 1100px) {
      flex: 0 0 100%;
      margin-bottom: 30px;
    }

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;

    }

  }
}
