@import "../../../common/style/sass/variables";
@import "../../../common/style/sass/mixins";

.wrap {
  background-color: $footerBgColor;

  .container {
    @include container();
    @include maxWidth();
    padding-bottom: 80px;
    .header {

     padding: 80px 0;

      @include text(30px, 800);
      color: white;
      text-align: center;

      .span {
        @include text(20px, 700);
        color: $activeColor
      }
    }

    .cases {
      @include flex(row, start, start, wrap);
      gap: 30px;
      //display: grid;
      //grid-template-columns: minmax(200px ,512px) minmax(200px ,512px) minmax(200px ,512px);
      //gap:30px;
      //padding-bottom: 50px;
      //justify-content: center;
      //
      //margin: 0 auto;
      //@media (max-width: 1200px) {
      //
      //  grid-template-columns: minmax(200px ,512px) minmax(200px ,512px);
      //}
      //@media (max-width: 840px) {
      //
      //  grid-template-columns: minmax(200px ,512px) ;
      //}
    }
  }
}
