@import "../../../common/style/sass/variables";
@import "../../../common/style/sass/mixins";

.container {

  @include container();
  @include flex(row, center, center, wrap);

  .dash {
    position: relative;

    &:before {
      content: '';
      position: absolute;
      right: -12px;
      top: 19px;
      height: 1px;
      width: 22px;
      background-color: #9a9a9a;
    }
    &:last-child {
      &:before{
        display: none;
      }
    }
    .nav {
      position: relative;
      padding: 10px;
      margin: 0 15px;
      text-transform: uppercase;
      text-decoration: none;
      color: #9a9a9a;
      @include text(16px, 600)
    }

    .active {
      color: $activeColor;
    }

  }
}
