@import "src/common/style/sass/variables";
@import "src/common/style/sass/mixins";

.button {

  @include text(16px, 400);

  padding: 10px 20px;
  color: white;
  background-color: $activeColor;
  border-radius: 70px;
  margin-bottom: 40px;
  border: 1px solid $activeColor;
  cursor: pointer;
  transition: all 0.5s;
  &:hover,
  &:active {
    background-color: white;
    color: $activeColor;
  }
}