@import "../../../common/style/sass/variables";
@import "../../../common/style/sass/mixins";

.s {
  @include flex(column, center, center, wrap);

  .container {
    display: grid;
    grid-template-columns: minmax(300px, 1fr) minmax(300px, 1fr) minmax(300px, 1fr);
    box-sizing: border-box;
    @include container();
    gap: 30px;

    margin-bottom: 150px;
    justify-content: space-around;
    @media (max-width: 1020px) {
      grid-template-columns: minmax(300px, 1fr) minmax(300px, 1fr)
    }
    @media (max-width: 700px) {
      grid-template-columns:  minmax(300px, 1fr);
      justify-content: center;
      width: auto;
      margin: 0 10px;
    }

    .imgWrapper {
      margin:0;
      padding:0;
      border-radius: 17px;
      position: relative;
      //width: 100%;
      //height: 100%;
      .hower{
        opacity: 0  ;
        position: absolute;
        @include flex(column, center, center, wrap);
        left: 0;
        top:0;
        width: 100%;
        height: 100%;
        &:hover {
          opacity: 1;
          transition: 0.5s;

          .workTitle {
            color: white;
            width: 80%;
            position: relative;
            font-weight: 800;
            z-index: 1;
            padding: 20px;
            padding-left: 100px;
            transition: all 0.5s;
          }

          .workDesc {
            color: white;
            width: 80%;
            position: relative;
            padding: 20px;
            padding-left: 100px;
            z-index: 1;
            margin-bottom: 30px;
            transition: all 0.5s ;
          }

          .buttonWork {
            color: white;
            position: relative;
            background-color: transparent;
            @include text(28px, 600);
            text-transform: uppercase;
            border: none;
            z-index: 1;
            margin: 0 auto;
            cursor: pointer;
            &:hover {
              color: $activeColor;
            }
          }

          &::before {
            content: '';
            position: absolute;
            background: black;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
            z-index: 0;
            opacity: 0.8;
            border-radius: 17px;
          }
        }
      }


      .imgContainer {

        border-radius: 17px;
        overflow: hidden;

        .img {
          //min-width: 300px;
          //width: 100%;
          //min-height: 300px;
          //height: 100%;
          max-width: 100%;
          -moz-transition: all 0.5s;
          -webkit-transition: all 0.5s;
          transition: all 0.5s;
          object-fit: contain;
          //&:hover {
          //  transform: scale(1.1);
          //}
        ;
        }

        margin: 31px 0;
      }
    }
  }

  .btn {
    border: 1px solid $activeColor;
    position: relative;
    padding: 10px 50px 10px 30px;
    background-color: transparent;
    margin-bottom: 110px;
    border-radius: 10px;
    cursor: pointer;
  }

  .span {
    position: relative;
    display: block;

    &:after {
      position: absolute;
      content: '';
      width: 15px;
      height: 15px;
      background-image: url("../../../assets/img/case/ArrowDown.png");
      background-size: contain;
      background-position: center;
      background-repeat: no-repeat;
      top: 0;
      right: -25px;
    }
  }
}
