@import "../../../../common/style/sass/variables";
@import "../../../../common/style/sass/mixins";
@import "../../../../common/components/title/Title.module";

.work {
  flex: 0 0 25%;
  height: 400px;
  border-radius: 17px;
  position: relative;
  opacity: 1;
  font-size: 24px;
  //transition: 0.8s;
  .workWrapper {
    //transition: 0.9s;
    margin: 0 auto;
    position: relative;
    height: 100%;
    opacity: 0;
    color: $secondTextColor;
    @include flex(column, center, center, wrap);

    &:hover {
      opacity: 1;
      transition: 0.5s;
      .workTitle {
        position: relative;
        font-size: 16px;
        font-weight: 800;
        z-index: 1;
        padding: 20px;
        text-align: center;
        transition: all 0.5s;
      }

      .workDesc {
        position: relative;
        font-size: $fontSize;
        padding: 20px;
        text-align: center;
        z-index: 1;
        margin-bottom: 30px;

      }

      .buttonWork {
        transition: all 0.5s;
        color: white;
        position: relative;
        background-color: transparent;
        @include text(28px, 600);
        text-transform: uppercase;
        border: none;
        z-index: 1;
        margin: 0 auto;
        cursor: pointer;
        &:hover {
          color: $activeColor;
        }
      ;
      }

      &::before {
        content: '';
        position: absolute;
        background: black;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        z-index: 0;
        opacity: 0.8;
        border-radius: 17px;
      }
    }
  }

}
